doctype
html
    head
        title hello
        meta(charset='utf8')
        link(rel='stylesheet' href='./vendor/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='./style/main.css')
